#detail-page.content {
    padding: 4px;
    position: relative;
    border-radius: 13px;
    max-width: 450px;
    max-height: 800px;
}

.pokeball-watermark {
    width: 250px;
    opacity: .1;
    position: absolute;
    top: 30px;
    right: 20px;
}

.detail-content {
    width: 100%;
    height: 100%;
}
.pokemon-detail {

    padding-top: 1.25rem;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.detail-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 2px 1.25rem;
    color: #fff;
}

.detail-header img {
    margin-right: 1rem;
}

.detail-header h1 {
    flex-grow: 1;
    font-size: 32px;
    margin: 0;
    font-weight: 700;
    text-transform: capitalize;
}

.detail-header span {
    font-size: 12px;
    font-weight: 700;
}

.detail-pokemon-img {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;

}

.detail-pokemon-img img {
    width: 250px;
    z-index: 9;
}

.detail-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 63%;
    background-color: #fff;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
}

.detail-card .pokemon__types {
    display: flex;
    margin-top: 3rem;
    gap: 20px;
}

.detail-card .pokemon__type {
    font-size: .8rem;
    font-weight: 700;
    color: #fff;
    padding: 0.3rem 0.8rem;
}

.card-item {
    text-align: center;
    width: 80%;
    margin-bottom: 16px;
}

.card-item h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
    filter: brightness(70%);
}

.caracteristics-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.caracteristic {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    /* padding: 0 20px; */
}

.caracteristic.height {
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.caracteristic-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.caracteristic-info span {
    font-size: 12px;
}

.caracteristic-name {
    font-size: 10px;
    color: #666666;
    margin-top: 15px;

}

.abilities {
    font-size: 12px;
}

.stats-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.stat {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.stat-info {
    width: 20%;
    text-align: right;
}

.stat-name {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
    filter: brightness(70%);
}

.stat-value {
    font-size: 10px;
    margin-left: 8px;
}

.stat-bar {
    height: 7px;
    background-color: #f7f3f3;
    flex-grow: 1;
    margin-left: 18px;
    position: relative;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.38);
}

.stat-bar::after {
    content: '';
    height: 7px;
    width: var(--afterWidth, 50%);
    background-color: var(--afterBackground, #666464);
    position: absolute;
    left: 0;
}

/* @media screen and (min-height: 800px) {
    
    #detail-page.content {
        height: 80vh;
    }

    .detail-pokemon-img img {
        width: 210px;
    }
}
 */

@media screen and (min-width: 992px) {

    .detail-pokemon-img img {
        width: 230px;
    }
}

