.normal {
    background-color: #bbbcae;
}
.grass {
    background-color: #8cd851;
}
.fire {
    background-color: #fb5643;
}
.water {
    background-color: #56acf9;
}
.fighting {
    background-color: #a95342;
}
.flying {
    background-color: #77a2fe;
}
.poison {
    background-color: #a4599a;
}
.ground {
    background-color: #f0cf5c;
}
.rock {
    background-color: #cebc72;
}
.bug {
    background-color: #c2d11e;
}
.ghost {
    background-color: #7c76d8;
}
.electric {
    background-color: #fce945;
}
.psychic {
    background-color: #fe65b8;
}
.ice {
    background-color: #95f1fe;
}
.dragon {
    background-color: #8773ff;
}
.dark {
    background-color: #8b6854;
}
.steel {
    background-color: #c4c2da;
}
.fairy {
    background-color: #f9aeff;
}


.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
}



.pokemon {
    margin: 0.3rem;
    padding: .9rem .9rem 0.1rem .9rem;
    color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    
}

.pokemon__id {
    text-align: right;
    color: #000;
    opacity: 0.3;
    font-size: 0.725rem;
}

.pokemon__name {
    margin-bottom: .5rem;
    text-transform: capitalize;
}

.pokemon__detail {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.pokemon__types {
    list-style: none;
    padding: 0;
}

.pokemon__type {
    margin-bottom: .3rem;
    padding: 0.3rem 0.5rem;
    font-size: 0.7rem;
    border-radius: 0.7rem;
    text-align: center;
    text-transform: capitalize;
    filter: brightness(1.2);
}

.pokemon__detail img {
    max-width: 100%;
    width: 85px;
    
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.825rem;
}

.pagination button {
    background-color: #6c78db;
    border: none;
    border-radius: 1rem;
    color: #fff;
    padding: 0.3rem 0.5rem;
}

@media screen and (min-width: 380px) {
    .pokemons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
    
 @media screen and (min-width: 576px) {
    .pokemons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
    
@media screen and (min-width: 992px) {
    .pokemons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}